<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="social-part">
      <img
        src="../../../assets/images/logo.png"
        alt="img"
        width="130px"
        height="40px"
      />
    </div>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-2" *ngFor="let navItem of navItems" >
        <a
          class="nav-link"
          [routerLink]="navItem.url"
          routerLinkActive="active"
          >{{ navItem.route }}</a>
      </li>

      <li class="nav-item mr-2">
        <a
          class="nav-link log"
          style="background-color: #08ad46; color: #fff"
          *ngIf="logged"
          routerLink="/login"
          >Login</a
        >
      </li>
      <li class="nav-item mr-2">
        <a
          class="nav-link log"
          *ngIf="!logged"
          style="background-color: #ad6627; color: #fff"
          (click)="logout()"
          >Log Out</a
        >
      </li>
    </ul>
  </div>
</nav>
