<div class="row">
  <div class="col-lg-12">
    <div
      class="bg-dark text-white p-3 mb-2 d-flex align-items-center addActivity"
      (click)="addActivity()"
    >
      <mat-icon class="mr-2">add</mat-icon>
      Agregar Actividad
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6" *ngFor="let activity of activities">
    <mat-card class="mb-3">
      <mat-card-content>
        <h2 class="mb-4">{{ activity.Actividad }}</h2>
        <div class="row">
          <div class="col-lg-7">
            <img
              mat-card-image
              [src]="activity.Imagen"
              alt=""
            />
            <p class="text-justify text-muted">
              {{ activity.Descripcion | slice: 0:42 }}...
            </p>
          </div>
          <div class="col-lg-5">
            <label> <b>Lugar: </b> {{ activity.Comunidad }} </label>
            <br />
            <label><b>Fecha:</b> {{ activity.DiaInicial }} </label>
            <br />
            <label> <b>Hora:</b> {{ activity.HoraInicio }} </label>
            <div class="d-flex actions">
              <button mat-button (click)="editActivity(activity.IdRelacionesActividad)">
                <mat-icon style="color: var(--warning);">edit</mat-icon>
                Editar
              </button>
              <button mat-button (click)="deleteActivity(activity.IdRelacionesActividad)">
                <mat-icon style="color: var(--danger);"
                  >delete_outline</mat-icon
                >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
