<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="px-4">
      <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
        <h2 class="text-center">Nuevo Usuario</h2>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Usuario"
            name="user"
            formControlName="username"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Contraseña"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Cédula"
            name="document"
            formControlName="document"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Nombres"
            name="names"
            formControlName="names"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Apellidos"
            name="lastnames"
            formControlName="lastnames"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Correo"
            name="mail"
            formControlName="mail"
          />
        </mat-form-field>
        <button
          mat-button
          class="bg-success text-white btn-block mt-2"
        >
          Guardar
        </button>
        <button
          mat-button
          type="button"
          (click)="goBack()"
          class="btn-block mt-2"
        >
          Volver
        </button>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8">
    <div class="table_all">
      <table mat-table [dataSource]="users">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Usuario }}
          </td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Fecha Creación</th>
          <td mat-cell *matCellDef="let element">
            {{ element.FechaCreacion }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th colspan="2" mat-header-cell *matHeaderCellDef>
            Acciones
          </th>
          <ng-container *matCellDef="let element">
            <td mat-cell>
              <button mat-icon-button type="button" (click)="showUser(element)">
                <mat-icon style="color: #f0ad4e;">edit</mat-icon>
              </button>
            </td>
            <td mat-cell>
              <button mat-icon-button type="button" (click)="deleteUser(element.IdUsuario)">
                <mat-icon style="color: #d9534f;">delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="usersTable; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: usersTable"></tr>
      </table>
      <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-paginator
        #paginator
        [pageSizeOptions]="[5]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>