<div class="row">
  <div [class]="searchBarClass">
    <app-search-bar></app-search-bar>
  </div>
  <div class="col-lg-2 col-md-2" *ngIf="addResearch">
    <button
      style="width: 100%; margin-top: 5px; height: auto"
      mat-button
      color="primary"
      class="btn-block"
      (click)="goToAddResearch()"
    >
      Agregar Publicación
    </button>
  </div>

  <div class="col-lg-12" *ngFor="let research of researchList">
    <app-research-item [research]="research"></app-research-item>
  </div>
</div>
