<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-4 col-lg-3 d-flex align-items-center"
    *ngIf="addArticle"
  >
    <div class="card mb-2 d-flex justify-content-center">
      <img
        (click)="createArticle()"
        src="https://icon-library.com/images/add-picture-icon/add-picture-icon-16.jpg"
        class="imageStatic"
        alt="Add Article"
      />
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
    *ngFor="let article of articles"
  >
    <div class="card mb-2">
      <div class="card-body">
        <div class="article-image">
            <div *ngIf="editArticleButton">
              <span
                title="Borrar"
                class="close"
                (click)="deleteArticle(article.IdNoticia)"
              >
                <mat-icon> delete_outline </mat-icon>
              </span>
              <span
                title="Editar"
                class="editArticle"
                (click)="editArticle(article.IdNoticia)"
              >
                <mat-icon>edit</mat-icon>
              </span>
            </div>
          <img [src]="article.ImagenTitulo" alt="article.Descripcion" />
        </div>

        <div>
          <small (click)="goToArticle(article.IdNoticia)" class="header"
            >{{ article.Titulo | slice: 0:30 }}...</small
          >
        </div>

        <div>
          <small class="text-muted">{{
            article.FechaActualizacion | date
          }}</small>
        </div>

        <div *ngIf="editArticleButton" class="article-state">
          <span
            (click)="changeState(article.IdNoticia, article.EstadoPublicacion)"
            *ngIf="article.EstadoPublicacion == 1"
            class="badge badge-success"
          >
            Aceptado
          </span>
          <span
            (click)="changeState(article.IdNoticia, article.EstadoPublicacion)"
            *ngIf="article.EstadoPublicacion == 0"
            class="badge badge-warning"
          >
            Revisión
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
